Source: bibledit-cloud
Section: editors
Priority: extra
Maintainer: CrossWire Packaging Team <pkg-crosswire-devel@lists.alioth.debian.org>
Uploaders: Jonathan Marsden <jmarsden@fastmail.fm>,
 Daniel Glassey <wdg@debian.org>,
 Dmitrijs Ledkovs <dmitrij.ledkov@ubuntu.com>,
 Teus Benschop <teusjannette@gmail.com>,
 Roberto C. Sánchez <roberto@debian.org>
Build-Depends: debhelper (>= 9), autotools-dev, patchutils (>= 0.2.25), pkg-config, libgtk-3-dev, rcs, dh-autoreconf, libwebkit2gtk-4.0-dev, autoconf, autoconf-archive, libcurl4-openssl-dev, libssl-dev, libatspi2.0-dev, zip, unzip, libmbedtls-dev, libmimetic-dev
Standards-Version: 3.9.8
Homepage: http://bibledit.org
Vcs-Git: git://anonscm.debian.org/pkg-crosswire/bibledit-cloud.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-crosswire/bibledit-cloud.git/

Package: bibledit-cloud
Architecture: any
Depends: bibledit-cloud-data, ${shlibs:Depends}, ${misc:Depends}
Description: Bible editor server
 An online tool for the Bible translator.
 Translate Bibles.
 Edit Bibles.
 Proofread Bibles.
 Publish Bibles.
 Synchronize your data through Bibledit Cloud.

Package: bibledit-cloud-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Data for bibledit-cloud
 Contains pictures, icons, lexicons, scripts.
 This is normally not installed manually.
 The bibledit-cloud package will install it automatically.

